.container{
display:flex;
flex-direction:column;
margin:auto;
margin-top:200px;
background:#ffff ;
padding-bottom:30px;
width:600px;
border-radius: 25px;;

}
.text{

    color:#3c009d;
    font-size: 48px;
    font-weight: 700;
}
.header{
display:flex;
flex-direction:column;
align-items:center;
gap:9px;
width:100%;
margin-top:30px;


}
.underline{

    width:61px;
    height:6px;
    background :#3c009d;
    border-radius:9px;
 }
 .inputs{

    margin-top:55px;
    display:flex;
    flex-direction:column;
    gap:25px;

 }
 .input{
    margin-left:0px;
    display:flex;
    align-items:center;
    margin:auto;
    height:2.rem;
background-color:rgb(247, 245, 245);
border-radius:6px;

}
.user-icon{
    /* margin-left:12px;/ */
    margin:0px 20px ;
    margin-right:10px;
    color:#797979;
}
.user-email{

    /* margin-left:12px; */
    margin:0px 20px ;
    margin-right:10px;
    color:#797979;
}
.user-password{

    /* margin-left:12px; */
    margin:0px 20px ;
    color:#797979;
    margin-right:10px;
}
.input input{
    height:2.5rem;
width:400px;
background:transparent;
border:none;
outline:none;
color:#797979;
font-size:19px;

}
.forgot-password{
margin-left:13px;
    padding-left:63px;
    margin-top:27px;
    color:#797979;
    font-size:18px;
}
.forgot-password span{
color:#4c00b4;
cursor:pointer;

}
.submit-container{
display:flex;
gap:30px;
margin:60px auto;

}
.submit{
    display:flex;
    justify-content:center;
    align-items:center;
width:220px;
height:59px;
color:#fff;
background-color: #4c00b4;
border-radius:50px;
font-size:19px;
font-weight:700;
cursor:pointer;
}
